[Unit]
DefaultDependencies=no
Wants=network-pre.target
Wants=systemd-modules-load.service
Wants=local-fs.target
Before=network-pre.target
Before=shutdown.target
After=systemd-modules-load.service
After=local-fs.target
After=dbus.service
After=polkit.service
PartOf=iptables.service
Conflicts=shutdown.target
ConditionPathExists=/etc/iptables/
Documentation=man:iptables man:iptables-restore

[Service]
Environment=IPTABLES_RULES=/etc/iptables/%i.rules
Environment=IPTABLES_RULES_FLUSH=/etc/iptables/%i.rules.empty

Type=oneshot
# Start iptables-restore with no-flush option with %i.rules
# NoFlush option (-n) is used to not flush other tables than %I.
ExecStart=/sbin/iptables-restore -v -n $IPTABLES_RULES
# Reload the rules
ExecReload=/sbin/iptables-restore -v -n $IPTABLES_RULES 
# Stop and clean with empty rules
ExecStop=/sbin/iptables-restore -v -n $IPTABLES_RULES_FLUSH
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
# Need /etc/iptables/base.rules to exist.
DefaultInstance=base
